@layer utils {
  .box {
    border: 1px solid #00000035;
    border-radius: 4px;
    box-shadow: #00000005 0px 8px 24px;
    outline: 1px solid #00000015;
    outline-offset: 3px;

    &.box-color-main {
      border-color: slateblue;
      box-shadow: #6a5acd0a 0px 8px 24px;
      outline-color: #6a5acd55;
    }
  }

  button:focus-visible:not(:disabled),
  button:hover:not(:disabled) {
    outline: 2px solid slateblue;
  }

  .old {
    opacity: 0.25;
  }

  .color-main {
    color: slateblue;
  }

  .color-item {
    color: peru;
  }

  .color-exp {
    color: mediumseagreen;
  }

  .low {
    opacity: 0.35;
  }
}
