@layer utils {
  .old {
    opacity: 0.25;
  }

  .color-main {
    color: slateblue;
  }

  .color-item {
    color: peru;
  }

  .color-exp {
    color: mediumseagreen;
  }

  .low {
    opacity: 0.35;
  }
}